/* overall layout */

body {
  min-width: 1250px;
  color: #111;
  font-family: "Times New Roman", "Georgia", serif;

  font-size: 11pt;
  line-height: 23px;
  margin: 0; padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Average", "Georgia", "Times New Roman", serif;
  font-weight: normal;
}

.main {width: 100%;}
.main .inner {
  width: 700px;
  margin: 0 auto;
  padding-bottom: 20px;
}


/* sidebar nav */

/* reset list stuff */
nav ul, nav ol, nav li {
  margin: 0; padding: 0; list-style-type: none;
}

nav {
  width: 200px; margin-left: -240px;
  float: left; position: fixed;
  margin-top: 18px;
  font-size: 11pt;
}

nav ul {
  border: 1px solid #999; line-height: 14px;
  background-color: #e5e5e5;
}

nav ul li {line-height: 22px;}
nav ul li a {
  display: block;
  padding: 7px 10px;
  text-decoration: none;
  color: #111;
}
nav ul li:hover a {
  background-color: #888; color: #f5f5f5;
}
nav ul li.active a {
  color: #f5f5f5;
  background-color: #444;
}

nav p {
  padding: 2px 10px;
  line-height: 20px;
  font-size: 10pt;
}

nav p a {
  text-decoration: none;
  font-weight: bold;
  color: #036;
}

nav p a:hover {
  text-decoration: underline;
  color: #111;
}

/* document styling */

article h2 {font-size: 24pt; margin-top: 0px; margin-bottom: 20px;}
article h3 {font-size: 18pt; margin-top: 0;}
article h4 {font-size: 16pt; margin-top: 0; padding-top: 30px; margin-bottom: 10px;}
article a {color: #036;}

article blockquote {padding: 1px 0;} /* 1px triggers a much bigger pad */
article blockquote {color: #444; font-style: italic;}
article .example {
  font-style: italic;
  background-color: #eeeeee;
  border: 0px solid #ddd;
  padding: 5px 10px;
}

article p.dateline {
  text-align: right;
  color: #444;
  margin-bottom: 0px;
}
article p.small {font-size: 10pt;}

article ul.people, article ul.people li {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0; padding-right: 0;
  line-height: 28px;
}

article ul.people a {text-decoration: none; font-weight: bold;}
article ul.people a:hover {text-decoration: underline; color: #111;}

/* Some real basic mobile-friendliness */
@media (max-width: 600px)  {
  nav ul {
    display: none;
  }
  nav {
    float: none; position: static; width: inherit; margin-left: 0;
    margin-bottom: 30px;
  }
  nav p {
    font-size: 11pt;
    margin: 0; padding: 0 !important;
    margin-right: 3px;
    display: inline;
  }
  .main {width: inherit;}
  .main .inner {
    margin: 0;
    padding: 20px;
    width: inherit;
  }
  body {
    min-width: inherit;
  }
  article p.dateline {
    text-align: left; margin-bottom: 10px;
  }
}
