<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Open Government Data: Best-Practices Language for Making Data "License-Free"</title>

  <!-- <link href="assets/html5-reset.css" type="text/css" rel="stylesheet" /> -->
  <!--[if lt IE 9]><script src="assets/html5.js"></script><![endif]-->

  <style>
    body {
      font-size: 12pt;
      line-height: 22px;
    }

    h3 {
      font-size: 24pt;
      line-height: 40px;
    }

    main {
      width: 700px;
      padding: 0 50px 20px 50px;
    }
  </style>
</head>
<body>

<main>
  {{ content }}
</main>

</body>
</html>