<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Open Government Data: Best-Practices Language for Making Data "License-Free"</title>

  <!--[if lt IE 9]><script src="assets/html5.js"></script><![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Average' rel='stylesheet' type='text/css'>

  <link href='assets/site.css' rel='stylesheet' type='text/css'>

  <meta property="og:title" content="Open Government Data: Best-Practices Language for Making Data &quot;License-Free&quot;" />
  <meta property="og:image" content="https://0.gravatar.com/avatar/13407a4bedf3a760924bb0dd57d776d0?&amp;s=440" />
  <meta property="og:description" content="Guidance for releasing public government data in the United States." />
  <meta name="twitter:card" content="summary" />

</head>
<body>

<header>
  <div class="inner">
    <p>
      Guidance for releasing public government data in the United States.
    </p>

    <a href="http://prose.io/#unitedstates/licensing/edit/gh-pages/index.md">
      Suggest Changes
    </a>
  </div>
</header>

<main>
  {{ content }}
</main>

</body>
</html>