<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Open Government Data: Best-Practices Language for Making Data "License-Free"</title>

  <!--[if lt IE 9]><script src="assets/html5.js"></script><![endif]-->

  <link href='https://fonts.googleapis.com/css?family=Habibi|Average' rel='stylesheet' type='text/css'>

  <link href="assets/site.css?{{ site.time | date: "%Y%m%j%H%M%S" }}" rel='stylesheet' type='text/css'>

  <meta property="og:title" content="Open Government Data: Best-Practices Language for Making Data &quot;License-Free&quot;" />
  <meta property="og:image" content="https://0.gravatar.com/avatar/13407a4bedf3a760924bb0dd57d776d0?&amp;s=440" />
  <meta property="og:description" content="Guidance for releasing public government data in the United States." />
  <meta name="twitter:card" content="summary" />

</head>
<body>

<div class="main" role="main">
  <div class="inner">
    <nav>
      <ul>
        <li class="active"><a href="#open-government-data">
          Open Government Data
        </a></li>
        <li><a href="#what-you-need-to-know">
          What You Need To Know
        </a></li>
        <li><a href="#for-us-federal-government-works">
          For U.S. Federal Government Works
        </a></li>
        <li><a href="#for-government-works-produced-by-a-contractor">
          For Government Works Produced by a Contractor
        </a></li>
        <li><a href="#for-primary-legal-materials">
          For Primary Legal Materials
        </a></li>
        <li><a href="#additional-notes">
          Additional Notes
        </a></li>
        <li><a href="#contributors-and-supporters">
          Contributors and Supporters
        </a></li>
        <li><a href="#history">
          History
        </a></li>
      </ul>

      <p>
        Guidance for releasing public government data in the United States.
      </p>

      <p>
        <a href="http://prose.io/#unitedstates/licensing/edit/gh-pages/index.md">
          Suggestions welcome.
        </a>
      </p>

      <p>
        More at <a href="http://theunitedstates.io">theunitedstates.io</a>.
      </p>

    </nav>

    <article>
      <p class="dateline">December 12, 2013</p>

      {{ content }}
    </article>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
$(function() {
  var navLinks = $("nav ul li a").get().reverse();
  var navItems = $("nav ul li");
  var navTop = $("nav ul li:first-child");
  var winHeight = $(window).height();
  var winOffset = (winHeight / 2) - 50;


  $.event.add(window, "scroll", function() {
    var p = $(window).scrollTop();

    var found = false;
    $.each(navLinks, function(i, link) {
      var li = $(link.parentNode);
      link = $(link);
      var anchor = link.attr("href");
      var location = $(
        "h2" + anchor +
        ",h3" + anchor +
        ",h4" + anchor
      ).offset().top;
      if (location < (p + winOffset)) {
        if (!link.hasClass("active")) {
          navItems.removeClass("active");
          li.addClass("active");
        }
        found = true;
        return false;
      }
    });
    if (!found) {
      if (!navTop.hasClass("active")) {
        navItems.removeClass("active");
        navTop.addClass("active");
      }
    }
  });
});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-252618-11', 'theunitedstates.io');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
</script>

</body>
</html>